# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

from scipy import stats

import gmaps

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csvpath = os.path.join('..', 'starter_code', 'temp_data(CB).csv' )

temp_data = pd.read_csv(csvpath, delimiter = ",")
temp_data.head()

,Unnamed: 0,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,100,RU,97,68.0531,39.5131,-0.65,3.27
1,1,mahebourg,40,MU,94,-20.4081,57.7000,23.00,3.60
2,2,qaanaaq,98,GL,69,77.4840,-69.3632,-19.29,3.08
3,3,zhuhai,40,CN,100,22.2769,113.5678,26.00,4.63
4,4,cape town,0,ZA,94,-33.9258,18.4232,17.22,2.57

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = temp_data[["Lat", "Lng"]]

# Fill NaN values and convert to float
humid = temp_data["Humidity"].astype(float)

In [4]:
# Plot Heatmap
figure_layout = {
    'width': '600px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.25)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
temp_data
# temp_data[:25]

,Unnamed: 0,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,100,RU,97,68.0531,39.5131,-0.65,3.27
1,1,mahebourg,40,MU,94,-20.4081,57.7000,23.00,3.60
2,2,qaanaaq,98,GL,69,77.4840,-69.3632,-19.29,3.08
3,3,zhuhai,40,CN,100,22.2769,113.5678,26.00,4.63
4,4,cape town,0,ZA,94,-33.9258,18.4232,17.22,2.57
...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,71,33.9674,36.6574,10.00,7.20
544,544,paraiso,40,CR,57,9.8383,-83.8656,27.00,7.72
545,545,veraval,11,IN,83,20.9000,70.3667,25.06,5.05
546,546,novyy urgal,35,RU,78,51.0736,132.5642,-1.87,0.72
547,547,tongren,100,CN,97,27.7172,109.1853,16.12,1.58

In [6]:
#critera for ideal living location
        # lat
        # lng
        # country
        # date
    
    # cloud
top_cloud = 35
bottom_cloud = 10 
    # humid
top_humid= 65
bottom_humid = 30
    # temp_max
top_temp = 26
bottom_temp = 4
    # wind_speed
top_wind = 15
bottom_wind = 5

# temp_data.drop(temp_data[(temp_data['Humidity']<35) & (temp_data['Humidity']>65)]).index, inplace=False
#                                       (temp_data['Cloudiness']>=top_cloud)& (ideal_city['Cloudiness']<=bottom_cloud)
#                                       (temp_data['Max Temp']>=top_temp)& (ideal_city['Max Temp']<=bottom_temp) 
#                                       (temp_data['Wind Speed']>=top_temp)& (ideal_city['Wind Speed']<=bottom_temp)                                                                      
                                     
# temp_data


ideal_city = temp_data[(temp_data['Humidity']>bottom_humid) & (temp_data['Humidity']<top_humid)
                 &(temp_data['Cloudiness']>bottom_cloud) & (temp_data['Cloudiness']<top_cloud)
                 &(temp_data['Max Temp']>bottom_temp) & (temp_data['Max Temp']<top_temp) 
                 &(temp_data['Wind Speed']>bottom_wind) & (temp_data['Wind Speed']<top_wind)
                ]
 
ideal_city

,Unnamed: 0,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
17,17,ushuaia,20,AR,57,-54.8000,-68.3000,8.00,8.23
73,73,virginia beach,20,US,45,36.8529,-75.9780,18.00,5.14
174,174,la esperanza,20,GT,35,14.8667,-91.5667,23.89,5.14
265,265,jalu,30,LY,52,29.0331,21.5482,16.05,7.38
451,451,anan,20,JP,58,33.9167,134.6500,12.00,5.14
502,502,chauk,13,MM,57,20.8833,94.8167,24.71,6.15

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
ideal_city

,Unnamed: 0,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
17,17,ushuaia,20,AR,57,-54.8000,-68.3000,8.00,8.23
73,73,virginia beach,20,US,45,36.8529,-75.9780,18.00,5.14
174,174,la esperanza,20,GT,35,14.8667,-91.5667,23.89,5.14
265,265,jalu,30,LY,52,29.0331,21.5482,16.05,7.38
451,451,anan,20,JP,58,33.9167,134.6500,12.00,5.14
502,502,chauk,13,MM,57,20.8833,94.8167,24.71,6.15

In [8]:
filter_df = ideal_city[['Lat','Lng']]
filter_tuple = [tuple(x) for x in filter_df.to_numpy()]

filter_tuple[0]

(-54.8, -68.3)

In [9]:
# hotel_df.insert(9, "Hotel Name")

In [10]:
# geocoordinates
target_coordinates = "-33.8679, 151.2073"
target_search = "hotel"
target_radius = 5000
target_type = "Hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
response.url

'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8679%2C+151.2073&keyword=hotel&radius=5000&type=Hotel&key=AIzaSyDbN76bpP7drktbz-_vg37EWsxy9hFrM7Q'

In [11]:
places_data = response.json()

In [12]:
print(places_data["results"][0]["name"])
print(places_data["results"][0]["vicinity"])

Sydney Boutique Hotel
114 Darlinghurst Rd, Darlinghurst

In [13]:
hotel=[]
hotel_address = []
hotel_lat = []
hotel_lng = []

for place in places_data["results"]:
    hotel.append(place["name"])
    hotel_address.append(place["vicinity"])
    hotel_lat.append(place["geometry"]["location"]["lat"]) 
    hotel_lng.append(place["geometry"]["location"]["lng"]),

In [14]:
#trying to separate the city from street address in hotel_address list

# hotel_address_dict = {'Address':hotel_address}
# hotel_address_df = pd.DataFrame(hotel_address_dict, columns=['Address'])

# split_data = hotel_address_df['Address'.str.split(",")]
# data = split_data.to_list()
# names = ["Address","City"]
# new_df=pd.DataFrame(data, columns=names)

# new_df

# hotel_address

In [15]:
hotel_dict = {'Hotel Name':hotel, 'Address':hotel_address,'Lat':hotel_lat, 'Lng':hotel_lng}

In [16]:
hotel_df = pd.DataFrame(hotel_dict, columns=['Hotel Name', 'Address','Lat','Lng'])
hotel_df

,Hotel Name,Address,Lat,Lng
0,Sydney Boutique Hotel,"114 Darlinghurst Rd, Darlinghurst",-33.876697,151.221488
1,The Albert Hotel,"89B Cowles Rd, Mosman",-33.823911,151.238894
2,the Capsule Hotel,"Level 3/640 George St, Sydney",-33.876307,151.206468
3,Four Seasons Hotel Sydney,"199 George St, Sydney",-33.861552,151.207588
4,The Collectionist,"9-13 Marsden St, Camperdown",-33.887657,151.178376
5,"Shangri-La Hotel, Sydney","176 Cumberland St, The Rocks",-33.861233,151.206450
6,SKYE Suites Green Square,"8 Tweed Pl, Zetland",-33.905899,151.203506
7,Crown Towers Sydney,"1 Barangaroo Ave, Barangaroo",-33.862034,151.201034
8,Vibe Hotel Sydney Darling Harbour,"319-325 Sussex St, Sydney",-33.875087,151.204160
9,The Baxley Bondi,"44 Flood St, Bondi",-33.892622,151.259132
10,57 Hotel,"57 Foveaux St, Surry Hills",-33.884315,151.210220
11,Hilton Sydney,"488 George St, Sydney",-33.871802,151.208006
12,The Pod Sydney,"F6/396 Pitt St, Sydney",-33.878308,151.207661
13,Park Hyatt Sydney,"7 Hickson Rd, The Rocks",-33.855614,151.209974
14,SKYE Suites Sydney,"300 Kent St, Sydney",-33.868322,151.204749
15,"West Hotel Sydney, Curio Collection by Hilton","65 Sussex St, Sydney",-33.867609,151.203371
16,The Fullerton Hotel Sydney,"1 Martin Pl, Sydney",-33.867736,151.207831
17,Sydney Harbour YHA - The Rocks,"110 Cumberland St, The Rocks",-33.860107,151.206863
18,Cremorne Point Manor,"6 Cremorne Rd, Cremorne Point",-33.844515,151.229371
19,Kirketon Hotel Sydney,"229-231 Darlinghurst Rd, Darlinghurst",-33.876795,151.221046

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>Address</dt><dd>{Address}</dd>
<dt>Latitude</dt><dd>{Lat}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [18]:
coord_df = hotel_df[['Lat','Lng']]
coord_tuple = [tuple(x) for x in coord_df.to_numpy()]

# coord_tuple

In [19]:
# Add marker layer ontop of heat map
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coord_tuple)
# Add the layer to the map
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wiâ€¦